
body {
  
  font-family: cursive;
  background-image: url("img/fondo1.jpg");
   
}
.navigation li:first-child {
  display: none;
  
}
.bol
{
  width: 140px;
  padding-left: 40px;
  padding-top: 29px;
}
.cbb
{
  width: 85px;
}
h3{
  font-size: 50px;
  text-align: center;
}
#subtitulo{
  padding-bottom: 0%;
}

#mamiferosp, #avesp, #reptilesp, #pecesp, #florap, #mamiferosp1, #avesp1, #reptilesp1, #pecesp1, #florap1, #cristou, #lagunau, #taratau, #villau, #carrascou{
  padding-top: 0%; 
  
}
.fondo1
{
  width: 80%;
  margin-left: 10%;
  margin-top: 3px;
  border: 6px solid #ffcf3d ;
}

ul {
    font-size: 18px;
    font-family: cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
    margin-left: 20px;
    align-self: center;
  }
  .send{
   width: 100%;
  }
  label input{
    width: 100%;

  }
  h1
  {
    text-align: center;
    font-family: cursive;
    font-size: 60px;
    background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
    margin-left: 10%;
    margin-right: 10%;
  }
  #contform{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: #000000;
    font-size: 25px;
    line-height: 45px;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 30%;
    padding-right: 28%;
  }
  form input
  {
    display: block;
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border:1px 5px solid #ffcf3d;
  }
  form textarea 
  {
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
  }
  fieldset
  {
    background: #fafafa;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    border:2px solid #000000;

  }
  .logo
  {
    margin-left: 0px;
    margin-top: 0px;
  }
  li a {
    align-self: center;
    display: block;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 15px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #ffcf3d;
    color: #000000;
    
  }

  section{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    background-image: url("img/bolivia.png");
    width: 95%;
    display: inline-block;
    background-color: #c0c0c0;
  
  }
  
  div img{
    display: block;
    float: left;
    width: 40%;
    padding-left: 70px;
  }

  div p {
    font-size: 20px;
    padding-top: 4%;
   
    margin-right: 7%;
    text-align: justify;
    float: right;
    display:  block;
    width: 45%;
    
  }

  h2{
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 35px;
    text-align: center;
    background-color: #ffcf3d;
    padding: 3px;
    border:black 4px ridge;
  }
  figure{
  display: block;
  }

  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
   
  }
  .container img {
    width: 100%;
    padding-bottom: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding-left: 30px;
  }
  .container img:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;

  }

  footer {
    background-color: #000000;
    color: #F2F2F2;
    text-align: center;
  }

