@media screen and (max-width: 768px) {
    section img {
        float: left;
        display : block;
        width: 100%;
    }
    section{

        width: 100%;
    }
   section p{
        float: left;
        display: block;
        width: 100%;
        padding: 1%;
        font-size: 13px;
        text-align: center;
    }
    h2 {
        width: 100%;
        font-size: 18px;
    }
  }