body {
  font-family: cursive;
}
.navigation li:first-child {
  display: none;
}
ul {
    font-size: 18px;
    font-family: cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
    align-self: center;
  }
  
  li a {
    align-self: center;
    display: block;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #ffcf3d;
    color: #000000;
    
  }

  section{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    background-color: #F2F2F2;
    width: 100%;
    display: inline-block;
  }
  div img{
    background-color: tomato;
    display: block;
    float: left;
    width: 45%;
  }

  div p {
    font-size: 20px;
    padding-top: 8%;
    margin-right: 5%;
    float: right;
    display:  block;
    width: 45%;
  }

  h2{
    margin-bottom: 0%;
    font-size: 35px;
    text-align: center;
    background-color: #ffcf3d;
    padding: 3px;
  }

  footer {
    background-color: #000000;
    color: #F2F2F2;
    text-align: center;
  }

