@media screen and (max-width: 768px) {
    body {
        font-family: cursive;
      }
    section img {
        display : flex;
        justify-content: center;
        align-self: center;
        width:80%;
    }
    section{

        width: 100%;
    }
   section p{
        float: left;
        display: block;
        width: 97%;
        padding: 1%;
        font-size: 13px;
        text-align: center;
    }
    h2 {
        font-size: 18px;
    }

    nav {
        margin: 0 auto;
        max-width: 760px;
        background-color: #000;
    }
    .container {
        grid-template-columns: 1fr  ;
    }
    .navigation {
        list-style: none;
        text-align: center;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation img {
        display: none;
      }
    .navigation li {
        display: none;
    }
    .navigation a {
        align-self: center;
        flex-flow: column;
        color: #fff;
        padding: 0.75rem;
        text-align: center;
        text-decoration: none;
    }
    .navigation a:hover {
        color: #000;
        background-color: #fff;
        font-weight: 700;
    }
    
    /* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
      <ul class="navigation responsive">
      */
    .responsive li {
        display: block;
    }
  }